.navbar {
    display: flex;
    justify-content: space-between;
    /* background-color: antiquewhite; */
    align-items: center;
    margin: auto;
}

.navbar img {
    display: flex;
    align-items: center;
}

.navbar ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 16px;
}